/* This function sets the page to cover the entire screen. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This function sets the header to be blue, the text white, the size, and finally gives a couple diffrent text styles. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This function sets font size for header and location of text */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This function changes the "seo" from horiseon to a diffrent tint of white. */
.header h1 .seo {
    color: #d9dcd6;
}

/* This function spaces, chages text size, and font on the divs. */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This function removes dotted list. */
.header div ul {
    list-style-type: none;
}

/* This function sets location of links on header. */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This function sets links color and removes underline. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This function formats the size and position of the large picture. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This function makes the body of the page white. */
body {
    background-color: #d9dcd6;
}

/* This function formats all of the boxes. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This function sets paragraph font size.*/
p {
    font-size: 16px;
}

/* This function sets text location for the boxes on the left. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* This function sets text location for the box on the right. */
.float-right {
    float: right;
    margin-left: 25px;
}

/* This function formats all of the benefit section. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This function sets the color of the brand text box to white. */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This function sets the color of the brand text box to white. */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
} 

/* This function sets the color of the cost text box to white. */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
*/

/* This function centers text and adds some space under benfit. */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This function centers text and adds some space under brand. */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This function centers text and adds some space under cost. */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This function sets the pictures location of the picture and spaces text under the benefits. */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This function sets the pictures location of the picture and spaces text under the brands. */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This function sets the pictures location of the picture and spaces text under the cost. */  
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This will make a box around the search-engine section. */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This will make a box around the online-reputation section. */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This will make a box around the social-media section. */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This function reduces the size of the image. */
.search-engine-optimization img {
    max-height: 200px;
}

/* This function reduces the size of the image. */
.online-reputation-management img {
    max-height: 200px;
}

/* This function reduces the size of the image. */
.social-media-marketing img {
    max-height: 200px;
}

/* This function sets the size of the text and spaces it out from the info. */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This function sets the size of the text and spaces it out from the info. */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This function sets the size of the text and spaces it out from the info. */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* this function sets the size of the footer, text type, centers everything */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* this function sets all of the text in the footer. */
.footer h2 {
    font-size: 20px;
}
